/*importing fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');



/*TAGS MODIFIED EVERYWHERE!!!!!!*/

h1 {
    font-family: 'Open Sans', sans-serif;
    color: rgb(20, 20, 20);
    text-align: center;
    text-transform: uppercase;
    
}

body {
    background-image: url(img/BKGRND-06.jpg);
    background-size: 45%;
}


/*Menu*/


/*Challenge page*/

.challengeblock {
    background-color: orange;
}

.challengetitle {
    font-family: 'Open Sans', sans-serif;

}

.challengetext {
    font-family: 'Open Sans', sans-serif;
}

.challengetrophy {

}

.tryit {
    font-family: 'Open Sans', sans-serif;

}

/*Sticker Page*/

.sticker {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.stickerName {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

.stickergrid {
    display: grid;
    column-gap: 5px;
    row-gap: 20px;
}

.stickerrow {
    grid-row-start: 1;
    grid-row-end: 3;
    align-items: center;
}