/*importing fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');

/*Menu*/


/*Challenge page*/

.challengeblock {
    background-color: orange;
}

.challengetitle {
    font-family: 'Open Sans', sans-serif;

}

.challengetext {
    font-family: 'Open Sans', sans-serif;
}

.challengetrophy {

}

.tryit {
    font-family: 'Open Sans', sans-serif;

}

/*Sticker Page*/

.sticker {

}

.stickerName {
    
}