/*importing fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');



/*USFUL TAGS FOR EVERYWHERE*/

.pagetitle {
    font-family: 'Open Sans', sans-serif;
    color: rgb(238, 238, 238);
    text-align: center;
    text-transform: uppercase;

}

.centertext {
    text-align: center;
}

.nofloat {
    clear: both;
}

body {
    background-image: url(img/BKGRND-06.jpg);
    background-size: 45%;
}


/*Menu*/


/*Challenge page*/

.challengeblock {
    background-color: orange;
}

.challengetitle {
    font-family: 'Open Sans', sans-serif;

}

.challengetext {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.challengetrophy {
    width: 30px;
}

.tryit {
    font-family: 'Open Sans', sans-serif;

}

.challengegrid {
    display: inline-grid;
    column-gap: 5px;
    row-gap: 20px;

}

.challengeblock {
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.07);
    padding: 10px;
    border-radius: 25px;
    width: 25vw;
    height: 20vw;
    margin-right: 10px;
    float: left;

}

.trymore {
    margin-top: 25px;
    font-weight: 800;
}

/*Sticker Page*/

.sticker {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.stickerName {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

.stickergrid {
    display: grid;
    column-gap: 5px;
    row-gap: 20px;
}

.stickerrow {
    grid-row-start: 1;
    grid-row-end: 3;
    align-items: center;
}